.quizResult{
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 18px 0px #ddd;
}

.quizResult .scr{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 20px;
}

.quizResult .complete .scr,
.quizResult .total .scr{
    color: #FFC102;
}

.quizResult .correct .scr{
    color: #1F8435;
}

.quizResult .wrong .scr{
    color: #FA3939;
}

.quizResult p{
    margin-left: 10px;
}